<section class="pad-70 team-section">
    <aside class="team-card">
        <img ngSrc="/assets/team.png" width="609" height="588">
        <div class="texts">
            <h3>Equipe capacitada</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam officiis, eaque ad aliquid reiciendis ipsa!</p>
        </div>
</aside>
    <aside>
        <img ngSrc="/assets/project-guide.png" width="609" height="588">
        <div class="texts">
            <h3>Equipe capacitada</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, expedita distinctio illo minima beatae illum.</p>
        </div>
    </aside>
</section>