<section class="form-section">
    <div class="text">
        <h3>Fique por dentro das tendências</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, totam. Similique et corporis consectetur quas. Accusantium accusamus, excepturi vitae ut error minus recusandae, nulla explicabo id provident quod, earum numquam.</p>
    </div>
    <form>
        <label for="name">Nome</label>
        <input type="text" id="name">
        <label for="email">E-mail</label>
        <input type="text" id="email">
        <app-buttom-primary 
                btn-text="Se inscreva" variant="secondary" >
        </app-buttom-primary>
    </form>
</section>